.itemContainer {
  display: flex;
  border: 2px solid black;
  border-radius: 12px;
  height: 300px;
  width: 20%;
  flex-direction: column;
  text-align: center;
  text-wrap: wrap;
}

.itemImageContainer {
  height: 80%;
  width: auto;
}

.itemImage {
  object-fit: contain;
  width: auto;
  height: 80%;
}