body {
  display: flex;
  justify-content: center;
}

#root {
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 10px;
}

.itemWrapper {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}