body {
  margin: 0;
  display: flex;
  justify-content: center;
}

#root {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.itemWrapper, .cartWrapper {
  width: 98%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}