body {
  margin: 0;
  display: flex;
  justify-content: center;
}

#root {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.itemWrapper {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}